NODE_ENV=development
PORT=9999
LOG_LEVEL=debug
DATABASE_URL=postgresql://user:pass@localhost:5432/blastadb
DATABASE_AUTH_TOKEN=
BLASTA_USERNAME=
BLASTA_PASSWORD=
BLASTA_BASE_URL=https://sms.dmarkmobile.com/v3/v3/api